# frontend

frontend/*
!frontend/src/main.js 
!frontend/src/App.svelte
!frontend/dist

swiss/frontend/*
!swiss/frontend/src/main.js 
!swiss/frontend/src/App.svelte
!swiss/frontend/dist

# node
npm-debug.log
package-lock.json

