frontend/*
!frontend/src 
!frontend/dist
!frontend/public
!frontend/index.html

swiss/frontend/*
!swiss/frontend/src
!swiss/frontend/public
!swiss/frontend/dist

npm-debug.log
package-lock.json

*Zone.Identifier*

